# Directories
.vscode
node_modules
logs
data
public/css/preprocessed

# Files
*.txt
*.map

# Individual files
package-lock.json
yarn.lock

# Tempo
controllers/articleController.js
public/javascript/articlepage.js
routes/article.js
views/article.html