<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ #wFavicon }}
    <link rel="shortcut icon" href="{{{ wFavicon }}}">
    {{ /wFavicon }}
    <link href="/css/third_party/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    {{ #wCSS }}
    <link href="{{{ wCSS }}}" rel="stylesheet" type="text/css" />
    {{ /wCSS }}
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/javascript/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/compare.js" defer></script>
    <title>{{ main}} / Compare - {{ wName }} | Wiki Stats</title>
</head>

<body>

    {{> header }}

    <div class="mui-container mui--text-center">
        <div class="mui--z1 list-curlist">
            <a href="/wiki/{{ wAlias }}">Home</a>
            > Compare
        </div>

        <div class="mui--appbar-height"></div>

        <div class="top-stats" id="compare-content">
            <div class="mui--text-headline">
                Comparing
                <a class="compare-main" id="main-url">{{ main }}</a> and
                <a class="compare-target" id="target-url">{{ target }}</a>
            </div>

            <div id="main-updating">Updating
                <span class="dots"></span>
                <small class="lost-conn"></small>
            </div>

            <div id="target-updating">Updating
                <span class="dots"></span>
                <small class="lost-conn"></small>
            </div>

            <div style="height: 48px;"></div>

            <div class="mui-row mui--text-justify">
                <div class="mui-col-md-5 mui-col-md-offset-2">
                    <p>Total contributions:
                        <b><a class="compare-main" id="main-contribs"></a></b> <span class="compare-main tooltip" id="main-contribs-minus"></span>
                        /
                        <b><a class="compare-target" id="target-contribs"></a></b> <span class="compare-target tooltip" id="target-contribs-minus"></span>
                    </p>

                    <p>Minor edits:
                        <b class="compare-main" id="main-minoredits"></b>
                        /
                        <b class="compare-target" id="target-minoredits"></b>
                    </p>

                    <p>Pages created:
                        <b class="compare-main" id="main-pagecreations"></b>
                        /
                        <b class="compare-target" id="target-pagecreations"></b>
                    </p>

                    <p>Files uploaded:
                        <b><a class="compare-main" id="main-uploads"></a></b>
                        /
                        <b><a class="compare-target" id="target-uploads"></a></b>
                    </p>
                </div>

                <div class="mui-col-md-5">
                    <p>Largest number of edits in a day:
                        <b id="main-overall"></b>
                        /
                        <b id="target-overall"></b>
                    </p>

                    <p>Unique pages edited:
                        <b class="compare-main" id="main-uniquepages"></b>
                        /
                        <b class="compare-target" id="target-uniquepages"></b>
                    </p>

                    <div class="mui-row">
                        <div class="mui-col-md-12">
                            <p>Edit streak:</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-streak-current-b"><span id="main-streak-current"></span> day<span id="main-streak-current-plural"></span></b>
                                /
                                <b class="compare-target" id="target-streak-current-b"><span id="target-streak-current"></span> day<span id="target-streak-current-plural"></span></b>
                                current
                            </p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-streak-longest-b"><span id="main-streak-longest"></span> day<span id="main-streak-longest-plural"></span></b>
                                /
                                <b class="compare-target" id="target-streak-longest-b"><span id="target-streak-longest"></span> day<span id="target-streak-longest-plural"></span></b>
                                longest
                            </p>
                        </div>
                    </div>

                    <div class="mui-row">
                        <div class="mui-col-md-12">
                            <p>Contribution numbers:</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-edits-last7"></b>
                                /
                                <b class="compare-target" id="target-edits-last7"></b>
                                last 7 days
                            </p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-edits-last30"></b>
                                /
                                <b class="compare-target" id="target-edits-last30"></b>
                                last 30 days
                            </p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-edits-last-semester"></b>
                                /
                                <b class="compare-target" id="target-edits-last-semester"></b>
                                last 6 months</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-edits-last-year"></b>
                                /
                                <b class="compare-target" id="target-edits-last-year"></b>
                                last 12 months</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b class="compare-main" id="main-edits-alltime"></b>
                                /
                                <b class="compare-target" id="target-edits-alltime"></b>
                                average per day since joining
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="mui-row">
                <div class="mui-col-md-6 mui--text-left">
                    <button class="mui-btn mui-btn--small mui-btn--flat" onclick="window.location.href='../{{ main }}'">
                        View {{ main }}'s page
                    </button>
                </div>

                <div class="mui-col-md-6 mui--text-right">
                    <button class="mui-btn mui-btn--small mui-btn--flat" onclick="window.location.href='../{{ target }}'">
                        View {{ target }}'s page
                    </button>
                </div>
            </div>
        </div>

        <div id="preloader" class="partial">
            <div class="mui-row mui--text-center">
                <div class="mui-col-md-12">
                    {{ #wIsDefault }}
                        <img class="otfwlogo active" src="/images/logo-tf.png">
                    {{ /wIsDefault }}
                    {{ ^wIsDefault }}
                        <img class="wlogo" src="/images/logo-{{ wAlias }}.png">
                    {{ /wIsDefault }}
                    <div id="loading-top">
                        Loading statistics
                        <br> &nbsp;
                        <span class="dots"></span>
                        <br>
                        <small class="lost-conn" style="font-size: 0.5em"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>