<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Wiki Stats: User statistics for Valve games wikis.">
    <meta property="og:title" content="Wiki Stats &mdash; Pick your wiki!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wiki.tarkoviski.me">
    <meta property="og:description" content="Wiki Stats: User statistics for Valve games wikis.">
    <link href="/css/third_party/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <script src="/javascript/main.js" type="text/javascript"></script>
    <title>Wiki Stats - Pick your wiki!</title>
</head>

<body>

    {{> header }}

    <div class="mui-container">
        <div class="mui-row mui--text-center">
            <div class="mui-col-md-12">
                <div class="mui--text-display3">
                    Wiki Stats
                </div>

                <div class="mui--text-header">
                    Analysis of <span>{{ mUsers }}</span> users on <span>{{ mWikis }}</span> wikis
                </div>
            </div>
        </div>

        <div class="mui--appbar-height"></div>

        <div class="mui-row mui--text-center">
            <div class="mui-col-md-12">
                <a id="homepage-link" href="/wiki/tf" title="View wiki statistics">
                    <img id="homepage-logo" class="otfwlogo otfwlogoslow active" src="/images/wikis/logo-tf.png">
                </a>
            </div>
        </div>

        <div class="mui-col-md-12 mui--text-center">
            <h3 id="homepage-wiki">Team Fortress Wiki</h3>
        </div>

        <div class="mui--appbar-height"></div>

        <div class="mui-row mui--text-center">
            <div class="mui-col-md-4 mui-col-md-offset-4">
                <div class="mui-textfield">
                    <input type="text" id="homepage-user" placeholder="Search user on Team Fortress Wiki...">
                </div>

                <button class="mui-btn mui-btn--primary" id="homepage-search" onclick="searchUser('homepage-user');">
                    Search
                </button>
            </div>
        </div>

        <hr>

        <div class="mui-row mui--text-center">
            <div class="mui-col-md-12">
                <div class="mui--text-title">Pick your wiki:</div>

                <br>

                <div id="homepage-links">
                    {{ #pWikis }}
                    <button id="wiki-{{ path }}" class="mui-btn mui-btn--raised mui-btn--primary"
                        onclick="homepageSwitch('{{ path }}');">
                        <!--<a href="/{{ path }}/wiki">-->
                        <img class="wiki-icon" src="{{logo}}">
                        &nbsp;
                        <span>{{name}}</span>
                        <!--</a>-->
                    </button>
                    {{ /pWikis }}
                </div>
            </div>
        </div>
    </div>

</body>

</html>