<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="/public/images/favicon-{{ wAlias }}.ico">
    <link href="/public/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/{{ wAlias }}.css" rel="stylesheet" type="text/css" />
    <script src="/public/javascript/main.js"></script>
    <script src="/public/javascript/sorttable.js"></script>
    <script src="/public/javascript/listpage.js"></script>
    <title>Wiki Stats &mdash; List / {{ lName }}</title>
</head>

<body>
    {{> header }}

    <div class="mui-container mui--text-center">
        <div class="mui--z1 list-curlist">
            <a href="/{{ wAlias }}/wiki">Home</a>
            >
            <a href="/{{ wAlias }}/lists">Lists</a>
            > Active
        </div>

        <div class="mui--appbar-height"></div>

        <div class="mui--text-display1">
            {{ lName }}
        </div>

        <div class="mui--text-subhead">
            {{{ lDescription }}}
        </div>

        <div class="mui--appbar-height"></div>

        <div class="mui--z1 list-curlist">
            Legend:
            <span class="user-normal">Regular user</span>
            <span class="user-bot">Bot account</span>
            {{ #wWikiCap }}
            <span class="user-wikicap">Wiki Cap recipient</span>
            {{ /wWikiCap }}
            <span class="user-staff">Staff member</span>
        </div>

        <div class="mui--appbar-height"></div>

        <table class="mui-table mui-table--bordered sortable">
            <thead>
                <tr>
                    {{ #wWikiCapList }}
                    <th class="mui--text-center">No.</th>
                    {{ /wWikiCapList }}
                    {{ #wTop100List }}
                    <th class="mui--text-center">Position</th>
                    {{ /wTop100List }}
                    <th class="mui--text-center sorttable_alpha">User</th>
                    <th class="mui--text-center">Edit count</th>
                    <th class="mui--text-center">Edits per day</th>
                    {{ #wStaffList }}
                    <th class="mui--text-center">Notes</th>
                    {{ /wStaffList }}
                    {{ #wWikiCapList }}
                    <th class="mui--text-center">Date received</th>
                    {{ /wWikiCapList }}
                    <th class="mui--text-center">
                        <span class="tooltip" title="This is defined by wiki contributions within the last 30 days.">Is active?</span>
                    </th>
                    <th class="mui--text-center">Registration date</th>
                </tr>
            </thead>

            <tbody>
                {{#rUsers}}
                <tr>
                    {{ #wWikiCapList }}
                    <td>{{ wikicap_number }}</td>
                    {{ /wWikiCapList }}
                    {{ #wTop100List }}
                    <td>{{ top100_position }}</td>
                    {{ /wTop100List }}
                    <td>
                        <a href="/{{ wAlias }}/user/{{ name }}" class="{{ class }}">{{ name }}</a>
                    </td>
                    <td>{{ edits }}</td>
                    <td>{{{ editsperday }}}</td>
                    {{ #wWikiCapList }}
                    <td sorttable_customkey="{{ wikicap_receivedUnix }}">{{ wikicap_received }}</td>
                    {{ /wWikiCapList }}
                    {{ #wStaffList }}
                    <td>{{ staff_note }}</td>
                    {{ /wStaffList }}
                    <td>
                        <span class="list-user-{{ activeClass }}">{{ active }}</span>
                    </td>
                    <td sorttable_customkey="{{ registrationUnix }}">{{ registration }}</td>
                </tr>
                {{/rUsers}}
            </tbody>
        </table>
    </div>

</body>

</html>