<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    {{ ^mEdits }}
    <meta name="Description" content="User not found.">
    {{ /mEdits }}
    {{ #mEdits }}
    <meta name="Description" content="{{ user }} has a total of {{ mEdits }} contributions with an average of {{ mEditsAvg }} edits per day since joining on {{ wName }}.">
    {{ /mEdits }}
    <meta property="og:title" content="Wiki Stats &mdash; {{ wName }} &mdash; {{ user }}'s Statistics">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wiki.tarkoviski.me/{{ wAlias }}/user/{{ user }}">
    {{ ^mEdits }}
    <meta property="og:description" content="User not found.">
    {{ /mEdits }}
    {{ #mEdits }}
    <meta property="og:description" content="{{ user }} has a total of {{ mEdits }} contributions with an average of {{ mEditsAvg }} edits per day since joining on {{ wName }}.">
    {{ /mEdits }}
    <link rel="shortcut icon" href="/public/images/favicon-{{ wAlias }}.ico">
    <link href="/public/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/{{ wAlias }}.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/public/javascript/main.js"></script>
    <script src="/public/javascript/mui.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascript/userpage.js" defer></script>
    <title>Wiki Stats &mdash; {{ user }} &mdash; {{ wName }}</title>
</head>

<body>

    {{> header }}
    
    <div class="mui-container mui--text-center">
        <div class="mui--z1 list-curlist">
            <a href="/{{ wAlias }}/wiki">Home</a>
            > {{ user }}
        </div>

        <div class="mui--appbar-height"></div>

        <!-- Mensagem de erro -->
        <div id="error">
            <img src="/public/images/banana-peel.png" style="width: 10%;">

            <div class="mui--text-display1">
                Banana Error #404
            </div>

            <div class="mui--text-title error-title">
                User "{{ user }}" was not found or is missing from our database.
            </div>

            <div class="mui--text-subhead error-message">
                Or else the page will automatically reload once the update process is finished.
                <br>
                <span style="font-size: 95%;" class="case-note">(Keep in mind that wiki user names are case sensitive!<span class="similar-user"></span>)</span>
            </div>
        </div>

        <!-- Estátisticas básicas -->
        <div class="top-stats" id="user-content-top">
            <div class="mui--text-headline">
                <a id="user-url">{{ user }}</a>
                <small>
                    registered on
                    <span id="user-registration"></span> (<span id="user-registration-from-now" class="tooltip"></span>)
                </small>
            </div>
            <div style="margin-bottom: 10px;">
                <span id="updating" style="visibility: hidden">
                    Updating... <small class="lost-connection-update">⚠️ Connection lost!</small>
                </span><br>
                <small id="bot-note" class="hidden">
                    This user has a lot of edits. Their stats are only updated once per day and may be slightly outdated.
                </small>
            </div>
            <div class="mui-row mui--text-justify">
                <!-- Left area -->
                <div class="mui-col-md-5 mui-col-md-offset-2">
                    <!-- Contribs total -->
                    <p>Total contributions:
                        <b>
                            <a id="user-total-edits"></a>
                            <span id="user-total-edits-minus-creations" title="Deducting page creations and file uploads" class="tooltip"></span>
                        </b>
                    </p>

                    <!-- Minor edits -->
                    <p>Minor edits:
                        <b id="user-minor-edits">
                        </b>
                    </p>

                    <!-- Creations -->
                    <p>Pages created:
                        <b>
                            <a id="user-pages-created"></a>
                        </b>
                    </p>

                    <!-- Uploads -->
                    <p>Files uploaded:
                        <b>
                            <a id="user-uploads-plus-new-versions"></a>
                            <span id="user-uploads" title="Deducting file uploads that were uploaded as a new version of an existing file." class="tooltip"></span>
                        </b>
                    </p>

                    <div id="user-has-rights" class="hidden">
                        <!-- Rights status -->
                        <p>Deletions:
                            <b id="user-delete-count">
                            </b>
                        </p>
                        <p>Blocks:
                            <b id="user-block-count">
                            </b>
                        </p>

                    </div>
                    <!-- Most edited -->
                    <p style="text-justify: none">Most edited page<span id="plural"></span>:
                        <b id="user-top-pages">
                        </b>
                    </p>

                </div>

                <!-- Right area -->
                <div class="mui-col-md-5">
                    <!-- Single day overall -->
                    <p>Largest number of edits in a day:
                        <b id="user-most-edits-in-a-single-day"></b>
                        <small id="user-most-edits-date" class="tooltip"></small>
                    </p>

                    <!-- Unique pages edited -->
                    <p>Unique pages edited:
                        <b id="user-unique-pages"></b>
                    </p>

                    <!-- Edit streak -->
                    <div class="mui-row">
                        <div class="mui-col-md-12">
                            <p>Edit streak:</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-streak-count-current-b"><span id="user-streak-count-current"></span> day<span id="user-streak-current-plural"></span></b> current
                            </p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-streak-count-b"><span id="user-streak-count"></span> day<span id="user-streak-plural"></span></b> longest
                            </p>
                        </div>
                    </div>

                    <!-- Edits per day -->
                    <div class="mui-row">
                        <div class="mui-col-md-12">
                            <p>Contribution numbers:</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-edits-last-7"></b> last 7 days</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-edits-last-30"></b> last 30 days</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-edits-last-semester"></b> last 6 months</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <b id="user-edits-last-year"></b> last 12 months</p>
                        </div>
                        <div class="mui-col-md-12 mui-col-md-offset-1">
                            <p>
                                <i><b id="user-edits-alltime"></b></i> average per day since joining</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mui--text-right">
                <button class="mui-btn mui-btn--small mui-btn--flat" onclick="compareModal()">Compare</button>
            </div>
            <hr>
        </div>

        <!-- Preloader -->
        <div id="preloader" class="partial">
            <div class="mui-row mui--text-center">
                <div class="mui-col-md-12">
                    {{ #wIsDefault }}
                        <img class="otfwlogo active" src="/public/images/logo-tf.png">
                    {{ /wIsDefault }}
                    {{ ^wIsDefault }}
                        <img class="wlogo" src="/public/images/logo-{{ wAlias }}.png">
                    {{ /wIsDefault }}
                    <div id="loading-top">
                        Loading statistics
                        <br> &nbsp;
                        <span class="dots"></span>
                        <br>
                        <small class="lost-connection" style="font-size: 0.5em;">Connection lost!</small>
                    </div>
                    <div id="loading-bot">Loading graphs
                        <br> &nbsp;
                        <span class="dots"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gráficos -->
        <div class="bottom-graphs" id="user-content-bottom">
            <!-- Timeline -->
            <div class="mui-row">
                <div class="mui-col-md-12">
                    <p class="mui--text-title" id="timeline">Edits timeline</p>
                    <div id="timeline-select-year"></div>
                    <div id="timeline-select-month"></div>
                    <div id="edits-timeline">
                        Loading...
                    </div>
                </div>
            </div>
            <br>
            <!-- Namespace -->
            <div class="mui-row">
                <div class="mui-col-md-12">
                    <p class="mui--text-title" id="namespace">Edits by namespace</p>
                    <div class="mui-col-md-offset-2" id="edits-byns">
                        Loading...
                    </div>
                </div>
            </div>
            <br>
            <!-- Hours / Week -->
            <small style="text-align: center; color: rgba(0, 0, 0, 0.6);">All times are in Greenwich Mean Time</small>
            <div class="mui-row">
                <div class="mui-col-md-6">
                    <p class="mui--text-title" id="hour">Edits per hour of the day</p>
                    <div id="edits-hours" class="graph-small">
                        Loading...
                    </div>
                </div>
                <div class="mui-col-md-6">
                    <p class="mui--text-title" id="day">Edits per day of the week</p>
                    <div id="edits-week" class="graph-small">
                        Loading...
                    </div>
                </div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-md-12">
                    <p class="mui--text-title" id="week">Edits per day of the week and hour</p>
                    <div id="week-hour-select">
                    </div>
                    <div id="edits-wh" class="graph-big">
                        Loading...
                    </div>
                </div>
            </div>
            <br>
            <!-- Months / Year -->
            <div class="mui-row">
                <div class="mui-col-md-6">
                    <p class="mui--text-title" id="month">Edits per month</p>
                    <div id="edits-month" class="graph-small">
                        Loading...
                    </div>
                </div>
                <div class="mui-col-md-6">
                    <p class="mui--text-title" id="year">Edits per year</p>
                    <div id="edits-year" class="graph-small">
                        Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>