/* Fundos */

.mui-appbar,
footer {
    background-color: #b7914f !important;
}

/* Tooltip e botões */

button {
    color: white !important;
    background-color: #745b30 !important;
}

button:hover {
    background-color: #745530 !important;
}

input:focus {
    border-color: #745b30 !important;
}

/* Cores */

#userBig::placeholder {
    color: rgba(255,255,255,.56) !important;
}

.user-bot {
    background-color: #FE48AA;
    color: white;
}

.user-staff {
    background-color: #3F56AD;
    color: white;
}

.user-curse {
    background-color: #f26122;
    color: white;
}

.user-normal {
    color: #3F56AD;
}