/* Fundos */

.mui-appbar,
footer {
    background-color: #3498DB !important;
}

/* Tooltip e botões */

button {
    color: white !important;
    background-color: #347cdb !important;
}

button:hover {
    background-color: #3460db !important;
}

input:focus {
    border-color: #347cdb !important;
}

/* Cores */

.user-bot {
    background-color: #FE48AA;
    color: white;
}

.user-staff {
    background-color: #52D017;
    color: white;
}

.user-normal {
    color: #3F56AD;
}