.top-page {
    text-justify: none;
}

.top-margin {
    margin-left: 8.33333%;
}

.more {
    color: rgba(0, 0, 0, 0.5);
}

.top-stats,
.bottom-graphs {
    size: 100%;
    overflow: hidden;
    position: relative;
}

#loading-compare {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    z-index: 1;
    position: absolute;
    object-fit: fill;
    text-align: center;
    font-size: 2em;
    right: 0px;
    left: 0px;
}

#loading-top,
#loading-bot {
    background: #eeeeee;
    z-index: 1;
    position: absolute;
    object-fit: fill;
    text-align: center;
    font-size: 2em;
    right: 0px;
    left: 0px;
}

#bot-note {
    color: rgba(0, 0, 0, 0.6);
}

/* kludge, refactor this someday */
#updating {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lost-connection-update {
    color: red;
    display: none;
}

.lost-connection {
    display: none;
}

.google-visualization-tooltip {
    pointer-events: none;
}

.google-visualization-tooltip-item {
    padding: 0em 1em 0em 1em !important;
}

#user-content-top,
#user-content-bottom,
#compare-content,
#loading-bot,
#error,
.hidden {
    display: none;
}

#week-hour-select span,
#timeline-select-year span,
#timeline-select-month span {
    margin: 0 1em;
    cursor: pointer;
}

#timeline-select-year {
    margin-bottom: 0.5em;
}

#month-overall:not(.selected-month) {
    color: #D77030;
}

.selected-week,
.selected-year,
.selected-month {
    font-weight: bold;
    text-decoration: underline;
}